*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: radial-gradient(#5680E9,#84CEEB,#5AB9EA,#C1C8E4,#8860D0);
}

#container{
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#translator-box{
    margin-bottom: 26px;
    display: flex;
    flex-direction: row;
    gap: 1px;
    align-items: flex-end;
}
#box-1{
    /* border: 1px solid rgb(114, 107, 107); */
    width: 410px;
    height: 239px;
}
#frominput,#fromoutput{
    color: black;
    background-color: #dadde8;
    font-size: 15px;
}
::placeholder{
    color: white;
}
#box-2{
    /* border: 1px solid rgb(114, 107, 107); */
    width: 410px;
    height: 239px;
}
#box-1 textarea{
    /* display: flex;
    align-items: flex-start; */
    width: 410px;
    height: 239px;
    resize: none;
}
#box-2 textarea{
    width: 410px;
    height: 239px;
    resize: none;
}
select,button{
    background-image: linear-gradient(to right,#8860D0,#5680E9,#84CEEB);
}
button{
    font-size: 25px;
    width: 820px;
    color: white;
}
i{
    margin: 0 4px 0 0;
}

i:hover{
    background-color: white;
    border-radius: 3px;
}